{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container" style="padding-top: 100px">
    <div class="row">
      
      <div class="col-lg-5 mr-lg-5 col-12">
        <img src="{{ asset('images/wetrusted.jpg') }}" alt="" style="width: 100%">
      </div>

      <div class="col-lg-6 col-12">
        <div class="contact-form">
          <h2 class="mb-4">Bienvenido</h2>

          <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Usted ya ha iniciado sesion como {{ app.user.username }}, <a href="{{ path('app_logout') }}" style="color:blue">Logout</a>
                </div>
            {% endif %}

            <div class="row">
              <div class="col-lg-6 col-12">
                <input type="text" value="{{ last_username }}" class="form-control" name="username" id="inputUsername" placeholder="Usuario" required autofocus>
              </div>

              <div class="col-lg-6 col-12">
                <input type="password" class="form-control" name="password" placeholder="Contrasena" id="inputPassword" required>
              </div>
               <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
              <div class="ml-lg-auto col-lg-6 col-12">
                <button class="btn btn-lg btn-primary submit-btn" type="submit" style="width: 100%">
                        Inicia Sesion
                    </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>








{% endblock %}
