{% extends 'base.html.twig' %}

{% block title %}Empresas{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<style type="text/css">
    .nav-link{font-size:20px !important;}
    .btn-success{margin-top: 30px;}
    .div-btn{text-align: end;}
    #msjError{background-color: #ffe4e4; margin:10px;padding:10px; width: 100%;color:red;}
    .imp{font-size: 20px;}
</style>
{% endblock %}

{% block menu %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto" style="font-size:10px">
        <li class="nav-item">
            <a href="/facturacion" class="nav-link"><span data-hover="Facturas">Facturas</span></a>
        </li>
        <li class="nav-item">
            <a href="/clientes" class="nav-link"><span data-hover="Clientes">Clientes</span></a>
        </li>
        <li class="nav-item">
            <a href="/empresas" class="nav-link"><span style="color:#ffc200" data-hover="Empresas">Empresas</span></a>
        </li>
        <li class="nav-item">
            <a href="/productos" class="nav-link"><span data-hover="Productos">Productos</span></a>
        </li>
        <li class="nav-item">
            <a href="/configuracion" class="nav-link"><span data-hover="Configuracion">Configuracion</span></a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link"><span data-hover="LogOut">Logout</span></a>
        </li>
    </ul>
</div>
{% endblock %}


{% block body %}
<section class="sample-text-area" style="margin-top: 40px;">
    <div class="container box_1170">
        <div class="row">
            <div class="col-6"><h1><i class="fas fa-building"></i> Empresas</h1></div>
            <div class="col-6 div-btn">
                <button type="button" class="btn btn-success" onclick="abrirModalForm('nuevo', 0)">
                    <i class="fas fa-plus"></i> Agregar Nueva Empresa
                </button>
            </div>
        </div>
        <table id="tabla-empresas" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>RUC</th>
                    <th>Razon Social</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
              {% for empresa in empresas %}
                  <tr>
                    <td><span class="id-empresa" value="{{ empresa.id }}">{{ empresa.id }}</span></td>
                    <td>{{ empresa.ruc }}</td>
                    <td>{{ empresa.razonSocial }}</td>
                    <td>{{ empresa.direccion }}</td>
                    <td>
                      <button type="button" class="btn btn-secondary btn-editar" value="{{ empresa.id }}">
                        <i class="fas fa-pen"></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-eliminar" value="{{ empresa.id }}">
                        <i class="fas fa-times"></i>
                      </button>
                    </td>
                  </tr>
              {% endfor %}               
            </tbody>
        </table>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="ModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modaltitulo">Nuevo Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
          <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="razonSocial">Razon Social</label>
                  <input type="text" class="form-control" id="razonSocial" required="required">
                </div>
                <div class="form-group col-md-6">
                  <label for="ruc">RUC</label>
                  <input type="text" class="form-control" id="ruc" required="required">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="direccion">Direccion</label>
                  <input type="text" class="form-control" id="direccion" placeholder="" required="required">
                </div>
              </div>
              <div class="form-row error" style="display:none">
                  <span id="msjError"><i class="fas fa-exclamation-circle"></i><span id="msje"></span></span>
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" id="btn-modal-form" onclick="nuevaEmpresa()">Guardar</button>
          </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" id="Advertencia" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Se va a eliminar un Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta seguro que desea continuar?.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger eliminar-definitivo" data-dismiss="modal" value="0" >Eliminar Empresa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}


<script type="text/javascript">

    $(document).ready(function() {
        $('#tabla-empresas').DataTable( {
            "language": {
                url: 'https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json'
            },
            "order": [[ 0, "desc" ]]
        });

      $(document).on('click', '.btn-eliminar', function(){
          id = $(this).attr("value");
          alertaEliminar(id);
      });

      $(".eliminar-definitivo").click(function(){
          id = $(this).attr("value");
          eliminarEmpresa(id);
      });

      $(document).on('click', '.btn-editar', function(){
          id = $(this).attr("value");
          abrirModalForm('editar', id);
      });

    } );


  


</script>
<script src="/js/empresas.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>



{% endblock %}
